# /etc/systemd/system/ccso@.service
[Unit]
Description=CCSO Service
Requires=ccso.socket

[Service]
Type=simple
ExecStart=/var/ccso/ccso daemon
StandardInput=socket
StandardError=journal

[Install]
WantedBy=multi-user.target